@import url("https://use.typekit.net/atk3mme.css");
body {
  padding: 0 !important;
  font-family: fira-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}
* {
  font-family: fira-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dragon--logo--left {
  position: absolute;
  left: 410px;
  height: 461px;
  width: 200px;
  margin-top: 30px;
  opacity: 0.2;
  transform: rotateY(180deg);
  margin-right: 82vw;
}

.coinLogo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50px;
}

.dragon--logo--right {
  position: absolute;
  right: 410px;
  height: 461px;
  width: 200px;
  margin-top: 30px;
  opacity: 0.2;
  margin-left: 82vw;
}

@media (max-width: 1000px) {
  .dragon--logo--right {
    max-width: 20vw;
    margin-top: 10px;
    opacity: 0.2;
    right: 0px;
    max-height: 45vh;
  }

  .dragon--logo--left {
    left: 0px;
    height: 45vh;
    width: 25vw;
    opacity: 0.2;
    transform: rotateY(180deg);
    margin-top: 10px;
  }

  .wrapper {
    position: absolute;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .stakingWrap {
    margin-left: 10vw;
  }
  .coinLogo {
    margin-left: 20px;
    margin-right: 20px;
  }

  body {
    width: 100vw;
    height: 100vh;
  }
}

#changeTicker {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 1em;
  color: #6da8ff;
}

#stakingDiv {
  font-weight: 500;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(33, 114, 229, 0.1) 0%,
    rgba(33, 36, 41, 0) 100%
  );
}
